<section class="align-items-center content-section text-white text-center" id="services">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0 colorr">Services</h3>
            <h2 class="mb-5 mt-5 colorr">What We Offer</h2>
        </div>
       <div class="container ">
        <div class="row npc" >
            <div class="col-md-3 col-sm-12" (click)="neurology()">
                <span class="service-icon rounded-circle mx-auto mb-3"><i class='fas fa-brain fa-spin blackiconcolor'></i>

                </span>
                <h4><strong class="colorss">NEUROLOGY</strong></h4>
                <p class="text-faded mb-0"></p>
            </div>
            <!-- <div class="col-md-3 col-sm-12" >
                <span class="service-icon rounded-circle mx-auto mb-3"><i class="icon-pencil"></i></span>
                <h4><strong class="colorss">PSYCHIATRY</strong></h4>
                <p class="text-faded mb-0"></p>
            </div> -->
            <div class="col-md-3 col-sm-12" (click)="general()">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class='fas fa-pills fa-spin blackiconcolor'></i>
                </span>
                <h4><strong class="colorss">CONSULTANT PORTFOLIO</strong></h4>
                <p class="text-faded mb-0">
                   
                </p>
            </div>
            
        </div>
       </div>
    </div>
</section>