<div>
  <h3 class="mt-3" style="text-align: center;">
    CONSULTANT PORTFOLIO
  </h3>

  <div class="container">
    <div class="row ">
      <div class="d-flex justify-content-center col-md-4 col-sm-12" >
        <img src="/assets/images/Million 01.jpg" height="80px"/> 
      </div>
      <div class="d-flex justify-content-center col-md-4 col-sm-12" >
        <img src="/assets/images/Million 03.jpg" height="80px" /> 
      </div>
      <div class="d-flex justify-content-center col-md-4 col-sm-12" >
        <img src="/assets/images/Million 08.jpg" height="80px" /> 
      </div>
    </div>

    <div class="row mt-2">
      <div class="d-flex justify-content-center col-md-4 col-sm-12" >
        <img src="/assets/images/Million 16.jpg" height="80px"/> 
      </div>
      <div class="d-flex justify-content-center col-md-4 col-sm-12" >
        <img src="/assets/images/Million 19.jpg" height="80px" /> 
      </div>
      
    </div>
  </div>
  </div>

