<div class="container">
    <h3 class="d-flex justify-content-center mt-3" >ABOUT US</h3>
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6 ">
            At MILLION HEALTH CARE, we constantly work towards ensuring access to high quality 
            and affordable medicines to support patients in need. Which is why, we have been trusted 
            by health care professionals and patients across geographies from decades.
            <br>
            As an organisation has been built brick-by-brick on the foundation of care. Caring For Life has 
            always been and continues to remain, our guiding purpose. Driven by the same purpose, we have 
            extended our presence  in providing over 50 products across various therapeutic categories in 
            50+ dosage forms. To make healthcare more affordable globally, we are deepening our presence in 
            the key markets of India, 
            South Africa, the U.S as a RAW MATERIAL EXPORTER among other economies of the emerging world.
            <br>
            For over a decade, making a difference to patients has inspired every aspect of 
            MILLION HEALTH CARE work. Our paradigm-changing offer of a NEUROLOGY CARE AND CONSULTANT PORTFOLIO
             acknowledged as having contributed to bringing inclusiveness, accessibility and affordability 
             to the centre of range of products. A responsible corporate citizen, MILLION HEALTH CARE 
             humanitarian approach in pursuit of its purpose of Caring for Life and deep-rooted community 
             links wherever it is present, make it a partner of choice for global health bodies and 
             stakeholders
        </div>
    </div>
</div>>