<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">ABOUT US  </h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="././assets/images/mission.jpg" alt="..."></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>MISSION</h4>
                        <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                    </div>
                    <div class="timeline-body"><p class="text-muted">
                        Be a global leader in innovative and supply chain to end customer
                    </p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="././assets/images/vision.jpg" alt="..."></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>VISION</h4>
                        <!-- <h4 class="subheading">An Agency is Born</h4> -->
                    </div>
                    <div class="timeline-body"><p class="text-muted">
                        To Deliver Reliable Leadership Through Customer service in relevent Therapeutics
                    
                    </p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="././assets/images/ways.jpg" alt="..."></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>MILLION HEALTH CARE WAYS </h4>
                        <!-- <h4 class="subheading">Transition to Full Service</h4> -->
                    </div>
                    <div class="timeline-body"><p class="text-muted">
                        Our products are reliable,assured with high efficiency, laboratory tested with millions of HUMAN TRAILS done.
<br>
Supply chain is appointed with a big partner who make sures us the product is delivered to end customer.
<br>
We as a wellbeing company assures MEDICAL HEALTH INSURANCE to all employees.
<br>
We think for the wellbeing of people,with assured Drug combination
<br>
And <br>
We lovely call it MHC WAYS-MILLION HEALTH CARE WAYS
                    
                    </p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="././assets/images/ways2.jpg" alt="..."></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>MHC WAYS FOR VALUABLE CUSTOMER. </h4>
                        <!-- <h4 class="subheading">Phase Two Expansion</h4> -->
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            -Customer is always a king<br>
                            -We ensure our active participation inside clinic<br>
                            -Pricing is customer friendly<br>
                            -Brand connecting with customer for trust<br>
                            -Innovative and enterpreneur-yes its MHC<br>
                            -If some helps for society,MHC is always their for all

                    </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br>
                        Of Our
                        <br>
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>