<!-- <nav class="navbar navbar-expand-lg navbar-dark fixed">
  <a class="navbar-brand fontfor_living" href="#">
    &nbsp;<img src="./assets/images/favicon.jpg" height="50px" />&nbsp; Million Health Care
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="color_for_headings" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="color_for_headings" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="color_for_headings" href="#services">Products</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" id="color_for_headings" href="#">Disease Profile</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" id="color_for_headings" href="#blog">Gallery</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" id="color_for_headings" href="#">Careers</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" id="color_for_headings" href="#">Contact</a>
      </li>
      
    </ul>
  
  </div>
</nav> -->
<nav class="navbar">
  <div class="container-fluid">
      <div>
          <a class="fontfor_living"  href="#">
            <img src="./assets/images/favicon.jpg" height="50px" />&nbsp; Million Health Care
          </a>
      </div>
      <div class="nav navbar-nav1">
          <a href="#" class="btn">Home</a>
          <a href="#" class="btn">About us</a>
          <a  class="btn" href="#services">Products</a>
          <a href="#" class="btn ">Disease Profile</a>
          <a href="#" class="btn">Gallery</a>
          <a href="#" class="btn">Careers</a>
          <a class="btn" href="#contact">Contact</a>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>
