


<section class="  align-items-center content-section bg-light" >

<!-- START FORM BODY -->
<div id="container">
    
   <div class="row">
    <label  class="d-flex align-items-center justify-content-center"><h2>Get in touch</h2></label>

    
    <form method="post">
        
        <div id="part-1">
            <fieldset>
                <legend><i class='fas fa-globe'></i>
                    Address</legend>
                <br/>
                <label for="first-name">
                    MILLION HEALTH CARE
                    #2739,Pipeline Road,
                    2nd Stage
                    Kumarswami Layout,
                    BENGALURU
                    KARNATAKA-560078</label>
                
                <br/>
                
            </fieldset>
        </div>
      
        <br/>
        
        <div id="part-2">
               
            <fieldset>
                <legend><i class='fas fa-phone-volume'></i> Phone</legend>
                <br/>
                <label>+919071439079</label>
                <br/>
            </fieldset>
        </div>
       
        <br/>

        <div id="part-3">
            <fieldset>
                <legend><i class="fa fa-envelope"></i>Email</legend>
                <br/>
                <label > millionhc7550@gmail.com</label>
                <br/>
            </fieldset>
        </div>
        
    </form>
   </div>
</div>
</section>