<section>
    <div id="contact" class=" mt-5 mb-5 d-flex align-items-center justify-content-center">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-sm-12">
                  <img src="./assets/images/phone.jpg" height="35px"/> &nbsp;+919071439079
              </div>
              <div class="col-md-6 col-sm-12">
                  <img src="../assets/images/email.jpg" height="35px"/> &nbsp; millionhc7550@gmail.com
              </div>
          </div>
  
  
      </div>
    </div>
  </section>