
<link rel="stylesheet"  media="only screen and (max-width: 767.98px)" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<section class=" d-flex align-items-center content-section bg-light" id="about">
    <!-- <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10"> -->
                <!-- slide -->
                <div class="container ">
                    
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                      </ol>
                  
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner">
                        <div>
                            <h2 class="d-flex justify-content-center">Million Health Care</h2>
                        <p class="lead mb-3 d-flex justify-content-center">
                            Connecting Million Lives.....
                        </p>
                       
                        </div>
                        <div class="item active">
                          <img src="/assets/images/doctor1.jpg " style="height: 265px;">
                        </div>
                  
                        <div class="item">
                          <img src="/assets/images/doctor11.jpg " style="height: 265px;"  >
                        </div>
                      
                        <div class="item">
                          <img src="/assets/images/doctor10.jpg " style="height: 265px;">
                        </div>
                      </div>
                  
                      <!-- Left and right controls -->
                      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>

                <!-- end slide -->
                
            <!-- </div>
        </div>
    </div> -->
</section>
<!-- Services-->


